:root{
    --fontLato: "Lato";
    --colorGold: #fff200;
}

.page{
    max-width: 1600px;
    margin: 0 auto;   
}

/* ----------------------------------------------HEADER ---------------------------------------*/
.header{
    width: 100%;
}

.headerTopBox{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*---------------------------------------------MENY-------------------------------------------*/
.navigationMenu___list{
    display: flex;
    width: 410px;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #232323;
    font-family: var(--fontLato);
    font-weight: 700;
    
}



.navigationMenu > ul li a{
    cursor: pointer;
    display: block;
    
    
}

.navigationMenu > ul li{
    position: relative;
    
}

.navigationMenu li ul{
    position: absolute;
    min-width: 185px;
    display: none;
    padding-top: 26px;
    
}

.navigationMenu li ul li a{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #fdfdfd;
    font-family: "Font Awesome";
    font-weight: 200;
}

.navigationMenu li ul li a::before{
    content: '\AB';
    position: relative;
    left: -4px;
    
}

.navigationMenu li ul li a:hover{
    color: #fff200;
}

.navigationMenu li ul li a:hover .navigationMenu li ul li a::before{
    color: #fff200;
    content: '\3E';
}

.navigationMenu li > ul li ul{
    padding-left: 5px;
    position: absolute;
    right: -185px;
    top: -20px;
    color: snow;
}



.navigationMenu li:hover > ul{
    display: block;
}
/*---------------------------------------------MENY-------------------------------------------*/
/**********************************************SLIDER*******************************************/
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__btnBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sliderBox{
    max-width: 730px;
    overflow: hidden;
    position: relative;
    top: -50px;
    
}
.line{
    display: flex;
    width: 2175px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    
}
.line > div{
    transition: 0.5s;
    text-align: center;
    width: 735px;
    height: 92px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    padding: 0 10px;
}
/*---------------------------------------------SLIDER-------------------------------------------*/
.search__input{
    width: 170px;
    height: 30px;
    background-color: #dcd6e9;
    border: none;
}
.headerMain{
    width: 100%;
    height: 788px;
    background: url(../img/bacgroundHeader.png) no-repeat center;
    padding-top: 300px;
}
.titleHeader{
    font-size: 64px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: var(--fontLato);
    font-weight: 700;
    text-align: center;
}

.titleHeader > span{
    color: var(--colorGold);
}

/* ----------------------------------------------MAIN CONTENT ---------------------------------------*/

/* ----------------------------------------------MAIN CONTENT why Choos US---------------------------------------*/

.whyChoosUs{
    max-width: 1170px;
    padding: 0 15px;
    margin: 112px auto;
    height: 500px;
}

.whyChoosUs__title{
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #232323;
    font-family: var(--fontLato);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.whyChoosUs__title > span{
    color: #009dda;
}

.whyChoosUs__description{
    width: 700px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: var(--fontLato);
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.cart{
    width: 200px;
    height: 270px;
    border: 1px solid #ebebeb;
}

.cart__icon{
    width: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.cart__content > h3{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #232323;
    font-family: var(--fontLato);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.cart__content > div{
    width: 158px;
    height: 72px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #373737;
    font-family: var(--fontLato);
    font-weight: 300;
    text-align: center;
}

/* ----------------------------------------------PRODUCS---------------------------------------*/

.producsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/productBacround.png) no-repeat center;
    height: 845px;
    padding-top: 45px;
}

.producsTitle{
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-family: var(--fontLato);
    font-weight: 700;
    text-align: center;
}

.producsTitle > span{
    color: var(--colorGold);
}

.producsBox{
    max-width: 1170px;
    margin-top: 190px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: space-between;
}
.product{
    height: 170px;
    width: 350px;
    display: flex;
    align-items: center;
    
}

.product > img{
    height: 145px;
    width: 145px;
}

.productInfo{
    margin-left: 25px;
    width: 150px;
}

.productInfo > h3{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 37px;
    color: #232323;
    font-family: var(--fontLato);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.productInfo__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #503392;
    font-family: var(--fontLato);
    font-weight: 400;
    text-transform: capitalize;
}
.productInfo__description{
    width: 150px;
    height: 42px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #373737;
    font-family: var(--fontLato);
    font-weight: 300;
}

/* ----------------------------------------------ABOUT US---------------------------------------*/
.aboutUsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    flex-direction: column;
    height: 1120px;
}

.aboutUsContainer__main{
    display: flex;
    max-width: 1170px;
    
}

.skilsBox{
    width: 552px;
    height: 630px;
    margin-right: 215px;
}

.skilsBox__title{
    text-align: left
}
.skilsBox__description{
    text-align: left
}

.skillContainer{
    width: 489px;
}

.skillContainer > div{
    display: flex;
    justify-content: space-between;
    
}
.skillContainer__info{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #444444;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
}

.skillContainer__line{
    width: 489px;
    border: 1px solid rgb(235, 231, 231);
    height: 5px;
}
.skilsBox__info{
    width: 559px;
    height: 137px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #373737;
    font-family: "Lato";
    font-weight: 400;
}

.skills {
    text-align: right;
    line-height: 3px;
    color: white;
  }
  
  .photoshop {
      background-color: #009dda;
      width: 80%;
    }
  .html {width: 90%; background-color: #009dda;}
  .js {width: 69%; background-color: #009dda;}
  .wordpress {width: 92%; background-color: #009dda;}

/* ***********************************************ABOUT US***************************************/
/* ----------------------------------------------FOOTER---------------------------------------*/
.footer{
    position: relative;
}
.formaBox{
    width: 940px;
    height: 435px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: auto;
    top: 30px;
    left: 50%;
    margin-left: -470px;
}

.mainForm {
    width: 490px;
    height: 280px;
}